<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229679080903-i8mfbm7ojqq87c169cvurajffg3hau70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229679080903-i8mfbm7ojqq87c169cvurajffg3hau70</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>229679080903-9vomjqid2r68k0ul39tn1oift61ammpl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBvgpisizdaIX0780CAfz_tCFyVNViRW7s</string>
	<key>GCM_SENDER_ID</key>
	<string>229679080903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sonub.dating</string>
	<key>PROJECT_ID</key>
	<string>sonub-dating</string>
	<key>STORAGE_BUCKET</key>
	<string>sonub-dating.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229679080903:ios:7536e7a2258096b72da5e2</string>
	<key>DATABASE_URL</key>
	<string>https://sonub-dating.firebaseio.com</string>
</dict>
</plist>